// Desktop
@media screen and (min-width: 768px) {
    .menu{
        @include flex-between;
        background-color: $color-white;
        border-bottom: 3px solid $color-darkmode;
        width: 100%;
        height: 80px;
            &-icon{
                display: none
            }
            &-logo{
                @include flex-center;
                flex-direction: row;
                &__img{
                    filter: brightness(0);
                    width: 60px;
                    height: 60px;
                    margin: 10px;
                    &:hover{
                        transition: transform 0.8s ease-in-out;
                        transform: rotate(360deg);
                    }
                }
            }
        &-nav{
            width: 500px;
            @include flex-around;
            &-align{
                @include flex-center;
                
            }
            &-button{
                @include flex-center;
                position: absolute;
                font-weight: 800;
                height: 30px;
                color: $color-black;
                background: white;
                border: 3px solid black;
                border-radius: 50px;
                width: 100px;
                transition: transform 0.4s ease;
                &:visited{
                    color: $color-black;
                }
                &:hover{
                    background: #71f79f;
                    transform: translateX(3px) translateY(-3px);
                }
                &__shadow{
                    border-radius: 105px;
                    height: 35px;
                    width: 105px;
                    background: black;
                }
            }
        }
        &-links{
            margin: 10px;
            width: 150px;
            @include flex-between;
            i{
                color: $color-black;
                font-size: 2.5em;
                &:hover{
                    transition: cubic-bezier(.69,.1,.43,.71) 0.3s;
                    color: $color-social-hover;
                }
            }
        }
    }
}
// Mobile
@media screen and (max-width: 768px) {
    .menu{
        @include flex-center;
        flex-direction: row-reverse;
        background-color: $color-white;
        border-bottom: 3px solid $color-darkmode;
        width: 100%;
        height: 60px;
        &-icon{
            color: black;
            position: absolute;
            left: 15px;
            font-size: 1.5em;
        }
        &-logo{
            @include flex-center;
            flex-direction: row;
            &__img{
                filter: brightness(0);
                width: 40px;
                height: 40px;
                margin: 10px;
            }
        }
        &-nav{
            top: 60px;
            left: 0px;
            width: 100vw;
            background-color: $color-broken-white;
            position: absolute;
            flex-direction: row;
            a{
                @include flex-center;
                font-weight: 800;
                padding: 15px;
                color: $color-black;
                border-bottom: 3px solid $color-black;
                &:visited{
                    color: $color-black;
                }
            }
        }
        &-links{
            display: none;
        }
    }

    .active{
        opacity: 1; 
        transform: translateX(0%);  
        transition: all 0.5s ease-out 0s;
    }

    .inactive{
        opacity: 0; 
        transform: translateX(-100%);  
        transition: all 0.5s ease-out 0s;
    }
}