.menu{
    @include flex-between;
    background-color: $color-white;
    border-bottom: 3px solid $color-darkmode;
    height: 80px;
    &-logo{
        @include flex-center;
        flex-direction: row;
        &__img{
            filter: brightness(0);
            width: 60px;
            height: 60px;
            margin: 10px;
        }
    }
    &-nav{
        width: 500px;
        @include flex-around;
        a{
            @include flex-center;
            font-weight: 800;
            padding: 5px;
            color: $color-black;
            border-bottom: 3px solid rgba($color: $color-black, $alpha: 0);
            width: 100px;
            &:visited{
                color: $color-black;
            }
            &:hover{
                transition: all 0.3s ease-in-out;
                border-bottom: 3px solid $color-black;
                border-radius: 5px;
            }
        }
    }
    &-links{
        margin: 10px;
        width: 100px;
        @include flex-between;
        i{
            color: $color-black;
            font-size: 3em;
        }
    }
}