/* Base */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.dark-mode {
  background-color: rgb(51, 51, 51);
  color: white;
  filter: brightness(1);
}

/* Typography */
@font-face {
  font-family: "GT-Super";
  src: url(/public/fonts/GT-Super-Display-Super.woff2);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "GT-Super", sans-serif;
}

p, a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

/* Keyframes */
@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes floating {
  0% {
    transform: translateY(0%);
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.1));
  }
  50% {
    transform: translateY(-10px);
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
  }
  100% {
    transform: translateY(0%);
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.1));
  }
}
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -4rem;
  }
  50% {
    top: -8rem;
  }
  72.5% {
    top: -12.25rem;
  }
}
/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #000000;
  font-weight: 400;
}

/* Header */
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 3px solid rgb(51, 51, 51);
    width: 100%;
    height: 80px;
  }
  .menu-icon {
    display: none;
  }
  .menu-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .menu-logo__img {
    filter: brightness(0);
    width: 60px;
    height: 60px;
    margin: 10px;
  }
  .menu-logo__img:hover {
    transition: transform 0.8s ease-in-out;
    transform: rotate(360deg);
  }
  .menu-nav {
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .menu-nav-align {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-weight: 800;
    height: 30px;
    color: #000000;
    background: white;
    border: 3px solid black;
    border-radius: 50px;
    width: 100px;
    transition: transform 0.4s ease;
  }
  .menu-nav-button:visited {
    color: #000000;
  }
  .menu-nav-button:hover {
    background: #71f79f;
    transform: translateX(3px) translateY(-3px);
  }
  .menu-nav-button__shadow {
    border-radius: 105px;
    height: 35px;
    width: 105px;
    background: black;
  }
  .menu-links {
    margin: 10px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-links i {
    color: #000000;
    font-size: 2.5em;
  }
  .menu-links i:hover {
    transition: cubic-bezier(0.69, 0.1, 0.43, 0.71) 0.3s;
    color: rgb(39, 33, 112);
  }
}
@media screen and (max-width: 768px) {
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #ffffff;
    border-bottom: 3px solid rgb(51, 51, 51);
    width: 100%;
    height: 60px;
  }
  .menu-icon {
    color: black;
    position: absolute;
    left: 15px;
    font-size: 1.5em;
  }
  .menu-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .menu-logo__img {
    filter: brightness(0);
    width: 40px;
    height: 40px;
    margin: 10px;
  }
  .menu-nav {
    top: 60px;
    left: 0px;
    width: 100vw;
    background-color: #F8F7F3;
    position: absolute;
    flex-direction: row;
  }
  .menu-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    padding: 15px;
    color: #000000;
    border-bottom: 3px solid #000000;
  }
  .menu-nav a:visited {
    color: #000000;
  }
  .menu-links {
    display: none;
  }
  .active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 0.5s ease-out 0s;
  }
  .inactive {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease-out 0s;
  }
}
/* Index */
@media screen and (min-width: 1000px) {
  .block__0 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
  }
  .block__1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .block__2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .block__3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .block__4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .block__5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
    color: black;
  }
  .welcome-container {
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1D3557;
  }
  .welcome-container__roll {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    list-style: none;
    display: block;
    margin: 0;
    position: absolute;
    animation: slide 5s infinite;
  }
  .arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    bottom: 5px;
    font-size: 4em;
    animation: floating 5s infinite;
    color: black;
  }
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    height: 500px;
    width: 500px;
  }
  .card img {
    border-radius: 5px;
    width: 300px;
  }
  .card h1 {
    color: #ffffff;
    margin-top: 30px;
    font-size: 1.75em;
  }
  .card-illustration {
    display: none;
  }
  .card-framework {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    color: #ffffff;
    height: 600px;
    width: 600px;
    font-size: 10em;
  }
  .card-framework-title {
    height: 0.4em;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
  }
  .card-framework-title__text {
    display: block;
    font-size: 0.4em;
  }
  .card-framework-illustration {
    display: none;
  }
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  .about-text {
    width: 450px;
    color: #000000;
    font-size: 1.25em;
    margin-top: 30px;
  }
  .about-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .about-skills-box {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 40px;
    font-size: 1.2em;
    height: 40px;
    width: 300px;
  }
}
@media screen and (max-width: 1000px) {
  .block__0 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
  }
  .block__1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .block__2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .block__3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .block__4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .block__5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1em;
    color: black;
  }
  .welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.125rem;
    line-height: 4rem;
    width: 100%;
    position: relative;
    overflow: hidden;
    color: #1D3557;
  }
  .welcome-container__roll {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    display: block;
    margin: 0;
    position: absolute;
    animation: slide 5s infinite;
  }
  .arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    bottom: 5px;
    font-size: 4em;
    animation: floating 5s infinite;
    color: black;
  }
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    height: 500px;
    width: 100%;
  }
  .card img {
    border-radius: 5px;
    width: 300px;
  }
  .card h1 {
    color: #ffffff;
    margin-top: 30px;
    font-size: 1.75em;
  }
  .card-illustration {
    display: none;
  }
  .card-framework {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    color: #ffffff;
    height: 150px;
    width: 100%;
    font-size: 5em;
  }
  .card-framework-title {
    height: 0.4em;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
  }
  .card-framework-title__text {
    display: block;
    font-size: 0.4em;
  }
  .card-framework-illustration {
    display: none;
  }
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .about-text {
    padding: 15px;
    width: 450px;
    color: #000000;
    font-size: 1.25em;
    margin-top: 30px;
  }
  .about-skills {
    margin: 15px 0px 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .about-skills-box {
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 40px;
    font-size: 1.2em;
    height: 40px;
    width: 300px;
  }
}
@media screen and (min-width: 1300px) {
  .card-framework-illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 600px;
    width: 600px;
  }
  .card-framework-illustration img {
    width: 500px;
    animation: floating 5s ease-in-out infinite both;
  }
  .card-illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 500px;
    width: 700px;
  }
  .card-illustration img {
    width: 400px;
    animation: floating 5s ease-in-out infinite both;
  }
}
/* Portfolio */
.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 85vh;
}
.portfolio-link {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: column;
  margin: 5px;
}
.portfolio-link-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 50px;
  font-size: 1.5rem;
  margin-top: 0px;
  opacity: 0;
  transform: translateY(-75px);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.portfolio-link-img {
  position: absolute;
  height: 250px;
  width: 50px;
  object-fit: cover;
  transition: height 0.3s ease-in-out;
}
.portfolio-link-tech {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.portfolio-link-tech__icon {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: white;
  background-color: black;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  transform: translateY(20px);
}
.portfolio-link:hover .portfolio-link-img {
  transition: height 0.3s ease-in-out;
  height: 270px;
}
.portfolio-link:hover .portfolio-link-tech {
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: translateY(115px);
}
.portfolio-link:hover .portfolio-link-title {
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: translateY(-100px);
  opacity: 1;
}

/* Contact */
@media screen and (min-width: 1000px) {
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15vh;
    background-color: #000000;
    height: 500px;
    width: 500px;
  }
  .contact-box-title {
    color: #ffffff;
    font-size: 1em;
    margin-top: 15px;
  }
  .contact-box-link {
    color: #ffffff;
    font-size: 1.2em;
  }
}
@media screen and (max-width: 1000px) {
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 500px;
    width: 500px;
  }
  .contact-box-title {
    color: #ffffff;
    font-size: 1em;
    margin-top: 15px;
  }
  .contact-box-link {
    color: #ffffff;
    font-size: 1.2em;
  }
}

/*# sourceMappingURL=style.css.map */
