// Desktop
@media screen and (min-width: 1000px) {
    .block{
        &__0{
            @include flex-center;
            flex-direction: column;
            height: 95vh;
            border-bottom: solid 3px $color-darkmode;
        }
        &__1{
            @include flex-between;
            flex-direction: row;
        }
        &__2{
            @include box-index;
        }
        &__3{
            @include box-index;
        }
        &__4{
            @include box-index;
        }
        &__5{
            @include box-index;
        }
    }

    .welcome{
        @include flex-center;
        flex-direction: column;
        font-size: 2em;
        color: black;
        &-container{
            height: 4.125rem;
            line-height: 4rem;
            position: relative;
            overflow: hidden; 
            width: 100%;
            @include flex-center;
            
            color: #1D3557;
            &__roll{ 
                @include flex-center;
                text-align: center;
                top: 0;
                list-style: none;
                display: block;
                margin: 0;
                position: absolute;
                animation: slide 5s infinite;  
            }
        }
    }

    .arrow{
        position: absolute;
        @include flex-center;
        height: 64px;
        width: 64px;
        bottom: 5px;
        font-size: 4em;
        animation: floating 5s infinite;
        color: black;
    }
    
    .card{
        @include flex-center;
        flex-direction: column;
        background-color: $color-black;
        height: 500px;
        width: 500px;
        img{
            border-radius: 5px;
            width: 300px;
        }
        h1{
            color: $color-white;
            margin-top: 30px;
            font-size: 1.75em;
        }
        &-illustration{
            display: none
        }
        &-framework{
            @include flex-center;
            flex-direction: column;
            background-color: $color-black;
            color: $color-white;
            height: 600px;
            width: 600px;
            font-size: 10em;
            &-title{
                height: 0.4em;
                overflow: hidden;
                display: flex;
                justify-content: flex-end;
                &__text{
                    display: block;
                    font-size: 0.4em;
                }
            }
            &-illustration{
                display: none
            }
        }
    }
    
    .about{
        @include flex-center;
        width: 60%;
        &-text{
            width: 450px;
            color: $color-black;
            font-size: 1.25em;
            margin-top: 30px;
        }
        &-skills{
            @include flex-center;
            flex-direction: column;
            &-box{
                margin: 10px;
                @include flex-center;
                background-color: $color-broken-white;
                border-radius: 40px;
                font-size: 1.2em;
                height: 40px;
                width: 300px;
                border: 3px solid rgba($color: $color-black, $alpha: 0.1);
            }
        }
    }
}

// Mobile
@media screen and (max-width: 1000px) {
    .block{
        &__0{
            @include flex-center;
            flex-direction: column;
            height: 95vh;
            border-bottom: solid 3px $color-darkmode;
        }
        &__1{
            @include flex-center;
            flex-direction: column;
        }
        &__2{
            @include box-index-mobile__reverse;
        }
        &__3{
            @include box-index-mobile;
        }
        &__4{
            @include box-index-mobile__reverse;
        }
        &__5{
            @include box-index-mobile;
        }
    }

    .welcome{
        @include flex-center;
        flex-direction: column;
        font-size: 1em;
        color: black;
        &-container{
            @include flex-center;
            height: 4.125rem;
            line-height: 4rem;
            width: 100%;
            position: relative;
            overflow: hidden; 

            color: #1D3557;
            &__roll{ 
                @include flex-center;
                text-align: center;
                top: 0;
                display: block;
                margin: 0;
                position: absolute;
                animation: slide 5s infinite;  
            }
        }
    }

    .arrow{
        position: absolute;
        @include flex-center;
        height: 64px;
        width: 64px;
        bottom: 5px;
        font-size: 4em;
        animation: floating 5s infinite;
        color: black;
    }

    .card{
        @include flex-center;
        flex-direction: column;
        background-color: $color-black;
        height: 500px;
        width: 100%;
        img{
            border-radius: 5px;
            width: 300px;
        }
        h1{
            color: $color-white;
            margin-top: 30px;
            font-size: 1.75em;
        }
        &-illustration{
            display: none
        }
        &-framework{
            @include flex-center;
            flex-direction: column;
            background-color: $color-black;
            color: $color-white;
            height: 150px;
            width: 100%;
            font-size: 5em;
            &-title{
                height: 0.4em;
                overflow: hidden;
                display: flex;
                justify-content: flex-end;
                &__text{
                    display: block;
                    font-size: 0.4em;
                }
            }
            &-illustration{
                display: none
            }
        }
    }

    .about{
        @include flex-center;
        width: 80%;
        &-text{
            padding: 15px;
            width: 450px;
            color: $color-black;
            font-size: 1.25em;
            margin-top: 30px;
        }
        &-skills{
            margin: 15px 0px 15px 0px;
            @include flex-center;
            flex-direction: row;
            flex-wrap: wrap;
            &-box{
                margin: 8px;
                @include flex-center;
                background-color: $color-broken-white;
                border-radius: 40px;
                font-size: 1.2em;
                height: 40px;
                width: 300px;
                border: 3px solid rgba($color: $color-black, $alpha: 0.1);
            }
        }
    }
}

// Illustrations

@media screen and (min-width: 1300px){
    .card-framework-illustration{
        @include flex-center;
        background-color: $color-broken-white;
        height: 600px;
        width: 600px;
        img{
            width: 500px;
            animation: floating 5s ease-in-out infinite both;
        }
    }

    .card-illustration{
        @include flex-center;
        background-color: $color-broken-white;
        height: 500px;
        width: 700px;
        img{
            width: 400px;
            animation: floating 5s ease-in-out infinite both;
        }
    }
}