@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin box-index {
  @include flex-center;
  flex-direction: row;
}

@mixin box-index__reverse {
  @include flex-center;
  flex-direction: row-reverse;
}

@mixin box-index-mobile{
  @include flex-center;
  flex-direction: column;
}

@mixin box-index-mobile__reverse{
  @include flex-center;
  flex-direction: column-reverse;
}